{{ 'custom.css' | asset_url | stylesheet_tag }}

    <section id="hero" style="background: url('{{ section.settings.desktop_banner | image_url }}');background-size: cover;background-position: bottom;">
        <div class="container hero-wrap">
            <div class="content-wrap">
                <h1>{{ section.settings.heading }}</h1>
                <p>{{ section.settings.short_description }}</p>
                {% if section.settings.button_text != blank %}
                <a href="{{ section.settings.button_link }} "><button class="dis-flex aw-btn">{{ section.settings.button_text }} 
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="m700-300-57-56 84-84H120v-80h607l-83-84 57-56 179 180-180 180Z"/></svg>
                </button></a>
                {% endif %}
                <div class="bottom-content">
                    <p>{{ section.settings.bottom_text }}</p>
                </div>
            </div><!-- content-wrap -->
        </div><!-- container -->
    </section><!-- Hero Section -->


    {% style %}

    @media screen and (max-width: 768px) {
    section#hero {
        background: url('{{ section.settings.mobile_banner | image_url }}') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;        
        background-position: center !important;
    }
    }

    {% endstyle %}


{% schema %}
{
  "name": "Custom Banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "label": "Desktop Banner",
      "id": "desktop_banner"
    },
    {
      "type": "image_picker",
      "label": "Mobile Banner",
      "id": "mobile_banner"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Heading Here"
    },
    {
      "type": "textarea",
      "label": "Short Description",
      "id": "short_description"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Click Me"
    },
    {
      "type": "text",
      "label": "Button Link",
      "id": "button_link"
    },
    {
      "type": "text",
      "label": "Bottom text",
      "id": "bottom_text"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}