{{ 'custom.css' | asset_url | stylesheet_tag }}

 <div class="primary-header">
        <div class="container dis-flex">
            <img src="{{ 'menu-icon.png' | asset_url }}" class="menu-icon" onclick="show_hide_dropdown()" >
            <img src="{{ section.settings.logo | image_url }}" class="img-logo">
            <p>{{ section.settings.header_text }}</p>
            {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_link }} "><button class="dis-flex aw-btn">{{ section.settings.button_text }} 
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="m700-300-57-56 84-84H120v-80h607l-83-84 57-56 179 180-180 180Z"/></svg>
            </button></a>
            {% endif %}
        </div>
        <div class="menu-dropdown">
            <p>{{ section.settings.header_text }}</p>
            {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_link }} "><button class="dis-flex aw-btn">{{ section.settings.button_text }} 
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="m700-300-57-56 84-84H120v-80h607l-83-84 57-56 179 180-180 180Z"/></svg>
            </button></a>
            {% endif %}
        </div> {% comment %} -- menu-dropdown -- {% endcomment %}
    </div> {% comment %} -- primary-header -- {% endcomment %}


{% schema %}
{
  "name": "Custom Header",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "label": "Choose Logo",
      "id": "logo"
    },
    {
      "type": "text",
      "label": "Header Text",
      "id": "header_text",
      "default": "Lorem Ipsum is simply dummy text"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Click Me"
    },
    {
      "type": "text",
      "label": "Button Link",
      "id": "button_link"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}